<!DOCTYPE HTML>

{% load static %}

<link href="{% static 'restaurants/index.css' %}" rel="stylesheet">

<html>

  <meta charset="UTF-8">
  
  <title>Restaurant Solver</title>

  <body>
    Heres some news about us
    <div class="main-footer">
      <div class="container">
        <div class="row">

          <div class="col">

            <h4>Social Media</h4>
            <ul class="list-unstyled">
              <li class="table-cell">
                <a href="https://twitter.com/Twitter">
                  {% load static %}
                  <img
                    src="{% static 'restaurants/twitterIcon.png' %}"
                    alt="Twitter"
                    width="80"
                    height="80"
                  ></img>
                </a>
              </li>
              <li class="table-cell">
                <a href="https://www.facebook.com/facebook/">
                  <img
                    src="{% static 'restaurants/facebookIcon.png' %}"
                    alt="Facebook"
                    width="80"
                    height="80"
                  ></img>
                </a>
              </li>
            </ul>
          </div>

          <div class="col">

            <h4>Other</h4>
            <ul class="list-unstyled">
              <li class="footer-li">
                <a href="./" class="footer-links">
                  Home
                </Link>
              </li>
              <li class="footer-li">
                <a href="about" class="footer-links">
                  About Us
                </Link>
              </li>
              <li class="footer-li">
                <a href="faq" class="footer-links">
                  FAQ
                </Link>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script>
      
    </script>

<!--    
    <script>
      let ask = (question, yes, no) => {
        if(confirm(question)) yes();
        else no();
      }

      ask(
        "Do you agree?",
        () => alert("You agreed."),
        () => alert("You canceled the execution.")
      );
    </script>
  -->
  </body>
</html>